h1{
    text-align: center;
    border-style: ridge;
    border-color: black;
}
body {
    font-size: 12px;
    background-image:url('t%C3%A9l%C3%A9charger%20(20).jpg');
    font-family: 'Orbitron', sans-serif;
}

.input{
    text-align: 150px;
}

label {
    text-align:left;
    width : 150px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
}

.form-a{
    border-radius:2px; 
    border-style: dotted; border-color: blue;

}
.validation{
    box-shadow: black; border-radius: 5px;
    text-align: center;
}

input:hover {
    color: orange;
    background-color: black;
    transition: 1,5s;
}
div{
    margin-top: 2em;
}
