@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


.btn-lg
{
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
}


header {
font-family: 'Orbitron', sans-serif;
color: white;
 background-image: src('');
 background-color:#e596fd;

}


h1{
    text-align: center;
    border-style: ridge;
    border-color: black;
    color:white;
}
body {
    font-size: 12px;
    font-family: 'Orbitron', sans-serif;
    background-image: url('t%C3%A9l%C3%A9charger%20(21).jpg');
    background-color:;

}

.input{
    text-align: 150px;
}

label{
    text-align:left;
    width : 150px;
    display: inline-block;
    color:white;
}

.form-a{
    border-radius:2px; 
    border-style: dotted; border-color: blue;
    background-image:url('');
    color:white;
    background-color:#e596fd;

}
.validation{
    box-shadow: black; border-radius: 5px;
    text-align: center;
}

input:hover {
    color: green;
    background-color:none;
    transition: 1,5s;
}
div{
    margin-top: 2em;
}
