@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

header {
font-family: 'Orbitron', sans-serif;

}


h1{
    text-align: center;
    border-style: ridge;
    border-color: black;
}
.body {
    font-size: 12px;
    font-family: 'Orbitron', sans-serif;
    background-image: url("");

}

.input{
    text-align: 150px;
}

label{
    text-align:left;
    width : 150px;
    display: inline-block;
}

.form-a{
    border-radius:2px; 
    border-style: dotted; border-color: blue;

}
.validation{
    box-shadow: black; border-radius: 5px;
    text-align: center;
}

input:hover {
    color: green;
    background-color: black;
    transition: 1,5s;
}
div{
    margin-top: 2em;
}
